.env
.env.*
*.log
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
venv/
.venv/
*.egg-info/
dist/
build/
*.egg
.pytest_cache/
.git/
.github/
*.mp4
*.avi
*.mov
*.mkv
test_*.py
tests/
*.class
*.java
f8c2e33
frontend/
frontend-mobile/
frontend-react-native/
frontend-react-native-v/
OutputTest/
TOCONVERT/
assets_test/
cleaned_output/
python_libs/
*.txt
!requirements.txt
workspace/*
db/*
__video_assets/*
batch*.py
wishfulThinking.py
testing_groq.py
read_logs.py
run_for_spots.py
telegram_bot.py
gemini_ocr_batch.py
ai_hook_orchestrator_perplexity.py
highlight_api,py
marketingspots_template.py
node_modules/
